<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <img alt="Logo Bureau Bart Web Development" title="Bureau Bart Web Development" src="/img/logo.png" class="img-responsive" id="logo">
            </div>
            <div class="col-xs-4 col-md-6">
                <address>
                    <strong>Bureau Bart Web Development</strong><br>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Bart Huttinga<br>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <a href="mailto:info@bureaubart.nl">info@bureaubart.nl</a><br>
                    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                    06 - 2386 3386<br>
                    <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
                    Schaerweijdelaan 172<br>
                    <span class="glyphicon" aria-hidden="true"></span>
                    3702 GN Zeist<br>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    KvK 30245554<br>
                </address>
            </div>
            <div class="col-xs-4 col-md-4">
                <p class="pull-right">
                    <a class="text-muted" href="/algemene-voorwaarden.pdf">Algemene voorwaarden</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
